<div
    class="welcome-body"
    fxLayout="column" 
    fxLayoutAlign="start center" 
>
    <div
        fxLayout="column"
        fxLayoutGap='40px' 
    >
        <p class="title">
            <a href="https://fontmeme.com/unearth-game-font/">
                <img src="https://fontmeme.com/permalink/191106/ebd57291a50a2bb1ac8d261955dadf57.png" alt="unearth-game-font">
            </a>
        </p>
        <p class="subtitle">Onde os malucos por Gin se encontram!</p>
    </div>
    
    <img 
        class="img-banner"
        src="../../assets/Gin-tonica.png"
    />

</div>

<app-carrousel></app-carrousel>